body,html,#container{
  height: 100%;
  margin: 0px;
}
.todo-input{
	position:relative;
	z-index: 1000;
	width:calc(100% - 20px);
	margin:20px auto;
}
.info{
	position:relative;
	height:40px;
	width:30px;
	text-align:center;
	line-height:38px;
	border-top:1px solid rgba(0, 0, 0, .2);
	border-bottom:1px solid rgba(0, 0, 0, .2);
	border-left:1px solid rgba(0, 0, 0, .2);
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	background: #fff;
	float: left;
	left:2px;
}
input[type="text"]{
	width:calc(100% - 90px);
	border-left:none;
	border-top-right-radius: none;
	border-bottom-right-radius: none;
	float:left;
}
.ceshi{
	position: relative;
	z-index: 1000;
}
.dingwei{
	width:30px;
	height:30px;
	background:#fff;
	position:absolute;
	z-index:100;
	padding-top:4px;
	bottom:10%;
	left:15px;
}
.dingwei .mui-icon{
	display:block;
	width:24px;
	margin:0 auto;
	
}
.icon {
	width: 1em;
	height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
	color:#1F1E1E;
}
select{
	font-size: 14px;
    height: 38px;
    margin-top: 1px;
    border: 1px solid rgba(0,0,0,.2);
    background-color: #fff;
    width: 50px;
    padding: 10px;
    position: relative;
    z-index: 100;
    right: -10px;
}
